html, body {
  overflow: hidden;
}

#footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px 10px 10px 10px;
  background-color: #428bca;
}

#enter-stock {
  text-transform: uppercase;
}

#enter-stock::-webkit-input-placeholder {
  text-transform: none;
}

.stocks-container {
  overflow-y: auto;
  display: block;
  height: calc(100vh - 53px - 50px);
}

#stocks {
  border-collapse: separate;
  border-spacing: 0 1px;
}

.stock-symbol {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  background-color: #5cb85c;
  color: white;
  text-align: center;
  width: 125px;
  /*width: 107px;*/
}

.stock-symbol:hover {
  background-color: #d9534f;
  cursor: pointer;

}

.stock-symbol:hover span {
  display: none;

}

.stock-symbol:hover:before {
  content: url(trash-icon.png);

}


.stock-news {
  width: 100%;
}

td {
  border: none;
  font-size: 24px;
  margin-bottom: 20px;
}

.newslink {
  margin-left: 30px;
  margin-right: 30px;
}

.newslink:link {
  color: green;
}

.newslink:link:hover {
  color: green;
}

.newslink:visited {
  color: white;
}

.newslink:visited:hover {
  color: white;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.marquee-col {
  background-color: black;
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-header {
  width: 100%;
  padding: 15px;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-right: 0px;
  margin-left: 0px;
}

.navbar {
  margin-bottom: 0px;
}

#logo span {
  color: #428bca;
}

#logo:hover span {
  color: black;
}

#logo:hover {
  color: black;
}


.navbar-brand {
  float:none;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: 0px;
}


.marquee {
  overflow: hidden;
  background: none;
}

svg {
  top: 3px;
  position: relative;
}

.svg-span {
  margin-right: 20px;
}

#legend {
  float: right;
}

