body {
  overflow: hidden;
}

#footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px 10px 10px 10px;
  background-color: #428bca;
}

#enter-stock {
  text-transform: uppercase;
}

#enter-stock::-webkit-input-placeholder {
  text-transform: none;
}

.stocks-container {
  overflow-y: auto;
  display: block;
  height: calc(100vh - 50px);
}

#stocks {
  border-collapse: separate;
  border-spacing: 0 1px;
}



.stock-symbol {
  background-color: #5cb85c;
  color: white;
}

.stock-news {
  width: 100%;
}

td {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  border: none;
  font-size: 24px;
  margin-bottom: 20px;
}

td:last-child {
  width: 100%;
}



.newslink {
  color: red;
}

.newslink:visited {
  color: black;
}


